/* Start Variable */
:root {
  --black-color: #171c21;
  --low-priority: #0072f5;
  --medium-priority: #ffae00;
  --high-priority: #ff2424;
  --sec-color: #eef2f6;
}

/* End Variable */
/* Start Global Style */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  margin: 0 !important;
}

html {
  scroll-behavior: smooth;
}


ul {
  list-style: none;
}

a {
  text-decoration: none !important;
}

section h2 {
  font-weight: bolder;
}


.scale-action {
  font-size: 1.5rem;
  transition-duration: 0.4s;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
  cursor: pointer;
}

.scale-action:hover {
  transform: scale(1.3);
}

/* start dark mode */
.display-dark .header {
  background-color: #000;
}

.display-dark {
  background-color: var(--black-color);
}

.display-dark aside {
  background-color: #000;
}

.display-dark aside h1,
.display-dark aside ul li a,
.display-dark h2 {
  color: #fff;
}

.display-dark aside ul li a.active {
  background-color: #41464b;
  color: #fff;
}

.display-dark aside ul li a:hover:not(a.active) {
  background-color: #0072f588;
}

.display-dark #display-mode .ball {
  background-color: var(--low-priority) !important;
}

.display-dark {
  color: #fff;
}

.display-dark .add-task button {
  background-color: #41464b;
}

.display-dark .add-task button:hover {
  background-color: #0072f588;
}


.display-dark .my-accordion .task {
  background-color: #9fb3c8;
}

.display-dark .my-accordion .task input::placeholder {
  color: #fff;
}

.display-dark .my-accordion .content-box .content {
  background-color: #9fb3c8;
  color: var(--black-color);
}

.display-dark .my-modal-content {
  background-color: var(--black-color);
}

.display-dark .my-modal-content input,
.display-dark .my-modal-content textarea,
.display-dark .my-modal-content select {
  color: var(--black-color);
}

.display-dark .my-modal-content .form-group button[type="submit"] {
  background-color: var(--low-priority);
}

.display-dark .my-modal-content header {
  color: #fff;
}

.display-dark #end-date.time-limit {
  color: #9f353f !important;
}


body.display-dark #display-mode .ball {
  left: 50px;
  background-color: var(--medium-priority);
}

.display-dark #main-content>header label #search {
  border: 2px solid var(--sec-color);
  color: #fff;
}

.display-dark #side header h1 {
  color: #fff;
}

.display-dark .table,
.display-dark .table td {
  color: white !important;
}
/* end dark mode */